@charset "UTF-8";

.login-form {
	width: 450px;
	height: auto;
	margin: 120px auto;
	text-align: center;
	border: 1px solid rgb(255, 168, 28);
	border-radius: 30px;
	padding: 20px 20px 40px 20px;
}

.login-form h2 {
	font-weight: bold;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.login-form p {
	font-size: 18px;
}

.form-group {
	margin: 60px auto;
}