@CHARSET "UTF-8";

.table-area {
	margin: 80px auto;
	width: 70%;
	height: auto;
}

.table-area h2 {
	font-size: 32px;
	font-weight: bold;
	color: rgb(255, 168, 28);
	border-bottom: 2px solid rgb(200, 200, 200);
}

.table {
	width: 100%;
	height: auto;
	vertical-align: middle;
	border: 2px solid rgb(200, 200, 200);
	margin: 20px auto;
	text-align: center;
}

.table th {
	padding: 6px;
	border: 2px solid rgb(200, 200, 200);
}

.table td {
	padding: 3px;
	border: 2px solid rgb(200, 200, 200);
}

.table tr {
	padding: 3px;
	border: 1px solid rgb(200, 200, 200);
}